.globalContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:50vh;
}
#sunrise {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: absolute;
}

#imageContainer,
#backgroundContainer,
#starsContainer {
    position: absolute;
    left:0px;
    top:0px;
    width:400px;
    height:200px;
}

#backgroundContainer {
    top:44px;
}

#backdrop {
    fill:darkgrey;
}
